<section class="login-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    [formGroup]="loginForm"
    fxLayoutGap="15px"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error>Invalid or missing email.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error>Missing password.</mat-error>
    </mat-form-field>
    <button
      *ngIf="!(isLoading$ | async)"
      mat-raised-button
      [disabled]="loginForm.invalid"
      type="submit"
      color="primary"
    >
      Submit
    </button>
    <div class="lds-ellipsis" *ngIf="isLoading$ | async">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </form>
</section>
